{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="form-section">
                    <h3>Set New Password</h3>
                    <form method="post">{% csrf_token %}{{ form|crispy }}<button type="submit" class="btn btn-gold w-100 mt-3">Reset Password</button></form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
